{% extends 'base.html' %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}

{% if validlink %}
<div class="container-fluid p-5" id="index-border" style="width: 80%;">
  <h1>Set a new password!</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-outline-primary btn-lg mb-5" value="Change my password">
  </form>
</div>
{% else %}
<div class="container-fluid p-5" style="width: 80%; height: 70%;">
  <p>The password reset link was invalid,possibly because it has already been used. Please request a new password reset.</p>
</div>



{% endif %}
{% endblock %}