{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Loading static folder #}
{% load static %}



<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Marc Dy">

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 

	<title>B1-B5 Data Collection</title>
	
</head>
<body>
	<div class="mb-5">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  	<div class="container-fluid">
			    <a class="navbar-brand" href="{% url 'login' %}">
			    	<img src="{% static 'image.jpg' %}" class="rounded-2" width="100" height="80">
			    </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    {% with request.resolver_match.url_name as url_name %}  {# Shows which page is active on navigation links #}
			    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    	<div class="navbar-nav">
				        <a class="nav-link {% if url_name == 'index' %}active{% endif %} 
				        				   {% if url_name == 'login' %}invisible{% endif %}
				        				   {% if url_name == 'logout' %}invisible{% endif %}
				        				   {% if url_name == 'signup' %}invisible{% endif %}"    
				        	href="{% url 'index' %}">Input Errors</a>
				        <a class="nav-link {% if url_name == 'errors' %}active{% endif %}
				        				   {% if url_name == 'login' %}invisible{% endif %}
				        				   {% if url_name == 'logout' %}invisible{% endif %}
				        				   {% if url_name == 'signup' %}invisible{% endif %}" 
				        	href="/tek84Troubleshoot/errors">Errors</a>

				   <!-- WIP SEARCH BAR -->     	
				        <form class="d-flex">
				      		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					      	<button class="btn btn-outline-dark" type="submit">Search</button>
					    </form>

					 <!-- PROFILE BUTTON -->
						<div class="btn-group dropstart position-absolute top-1 end-0 mt-1 mr-1 p-1  
							{% if url_name == 'login' %}invisible{% endif %}
							{% if url_name == 'logout' %}invisible{% endif %}
							{% if url_name == 'signup' %}invisible{% endif %}">
							<button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						    	<img src="{% static 'account_circle1.svg' %}"> Hey, {{ request.user}}
						  	</button>
						  	<ul class="dropdown-menu dropdown-menu-dark">
						  		<li><a class="dropdown-item " href="{% url 'password_change' %}">Change Password</a></li>
						  		<li><hr class="dropdown-divider"></li>
							    <li><a class="dropdown-item " href="{% url 'logout' %}">Log Out</a></li>
						  	</ul>
						</div>
			      	</div>
			    </div>
			    {% endwith %}
		  	</div>
		</nav>
	</div>
	

	<div class="container-fluid">
		{% block content %}{% endblock content %}
	</div>
	

<!-- FOOTER -->
<div class="footer bg-dark text-center text-lg-start text-light pt-1 mt-5">
	<!-- Copyright -->
	<div class="text-center p-3">
	© 2022 -- Created by: <strong>Marc Dy</strong>
	</div>
	<!-- Copyright -->
	</div>
</div>

</body>
</html>

