{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Loading static folder #}
{% load static %}





<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="Marc Dy">

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet"> 

	<title>B1-B5 Data Collection</title>
	
</head>
<body>
	<div class="mb-5">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="https://findtheinvisiblecow.com/">
		    	<img src="{% static 'rounded_image.jpg' %}" alt="Data Collection Image" width="100" height="80">
		    </a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    {% with request.resolver_match.url_name as url_name %}  {# Shows which page is active on navigation links #}
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		      <div class="navbar-nav">
		        <a class="nav-link {% if url_name == 'index' %}active{% endif %}"    
		        	href="/tek84Troubleshoot/index">Input Errors</a>
		        <a class="nav-link {% if url_name == 'errors' %}active{% endif %}" 
		        	href="/tek84Troubleshoot/errors">Errors</a>
		      </div>
		    </div>
		    {% endwith %}
		  </div>
		</nav>
	</div>
	

	<div class="container-fluid">
		{% block content %}{% endblock content %}
	</div>
	

<!-- FOOTER -->
<div class="footer bg-dark text-center text-lg-start text-light pt-1 mt-5">
	<!-- Copyright -->
	<div class="text-center p-3">
	© 2022 Marc Dy
	</div>
	<!-- Copyright -->
	</div>
</div>

</body>
</html>

